{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all"
}
